python-telegram-bot
instaloader
aiohttp
beautifulsoup4
hachoir
numpy
Pillow
pyrogram
requests
tgcrypto
python-dotenv
redis
psycopg2-binary
feedparser
#mega
git+https://github.com/XMYSTERlOUSX/mega.py
